 <!-- Begin Page Content -->
 <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Restaurants List's</h1>
      <a href="#" data-toggle="modal" data-target="#logoutModal" class="btn btn-success btn-icon-split">
          <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
          </span>
          <span class="text">Add</span>
        </a>
      <!-- <h1 class="h3 mb-0 text-gray-800">
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
              <i class="fas fa-add"></i>
              + Add
            </a>
          </h1> -->
    </div>
  
    <div class="row">
  
  
      <!-- <div class="card" style="width: 18rem;" *ngFor="let restaurant of restaurantlists" style="cursor: pointer;">
        <img src="{{restaurant.image}}" class="card-img-top" alt="No Image Found">
        <div class="card-body">
          <h5 class="card-title">{{restaurant.name}}</h5>
          <p class="card-text">{{restaurant.tagline}}</p>
        </div>
      </div> -->
  
  
      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4" *ngFor="let restaurant of restaurantlists" style="cursor: pointer;" (click)="goRestaurantDashboard(restaurant)">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <img src="{{restaurant.image}}" class="card-img-top" alt="No Image Found" *ngIf="restaurant.image">
              <img src="https://www.heraldscotland.com/resources/images/9757189.jpg" class="card-img-top" alt="No Image Found"  *ngIf="!restaurant.image">
              
        <div class="card-body">
          <h5 class="card-title">{{restaurant.name}}</h5>
          <p class="card-text">{{restaurant.tagline}}</p>
        </div>
            </div>
          </div>
        </div>
      </div>
  
  
    </div>
  
  </div>
  <!-- /.container-fluid -->
  
  
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add a new restaurant</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="col-lg-7" style="max-width: unset;">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Fill Restaruant Details!</h1>
              </div>
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" name="name" [(ngModel)]="createRestaurantData.name" placeholder="Name">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user"  name="reg_no" [(ngModel)]="createRestaurantData.reg_no" placeholder="Registration No.">
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" name="email" [(ngModel)]="createRestaurantData.email" placeholder="Email Address">
                </div>
                <div class="form-group ">
                  <input type="tel" class="form-control form-control-user" name="phone" [(ngModel)]="createRestaurantData.phone" placeholder="Phone">
                </div>
                <div class="form-group">
                  <textarea class="form-control form-control-user" name="tagline" [(ngModel)]="createRestaurantData.tagLine" placeholder="Restaurant Tagline"></textarea>
                </div>
                <div class="form-group">
                  <input type="file" class="form-control form-control-user" name="image" (change)="fileUpload($event)" />
                </div>
              </form>
             
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal" id="modalColoseBtn"git add>Cancel</button>
            <a class="btn btn-primary" href="javascript:void(0)" (click)="createRestaurant()">Create</a>
          </div>
        </div>
      </div>
    </div>