<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
  <ngx-spinner bdColor = "rgba(17,160,240,0.29)" size = "medium" color = "#fff" type = "line-scale" [fullScreen] = "true">xzcxzczxczxc</ngx-spinner>

              </div>
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" name="name" [(ngModel)]="loginData.name" placeholder="Name">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" name="reg_no" [(ngModel)]="loginData.reg_no" placeholder="Reg. No">
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" name="email" [(ngModel)]="loginData.email" placeholder="Email Address">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" name="phone" [(ngModel)]="loginData.phone" placeholder="Phone">
                </div>
                <div class="form-group"> 
                  <textarea class="form-control form-control-user" name="tagLine" [(ngModel)]="loginData.tagLine" placeholder="Tag Line"></textarea>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" name="pasword" [(ngModel)]="password" placeholder="Password">
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" name="cpasword" [(ngModel)]="cpassword" placeholder="Repeat Password">
                  </div>
                </div>
                <a href="javascript:void(0)" (click)="register(loginData.email,password)" class="btn btn-primary btn-user btn-block">
                  Register Account
                </a>
                <hr>
                <!-- <a href="index.html" class="btn btn-google btn-user btn-block">
                  <i class="fab fa-google fa-fw"></i> Register with Google
                </a>
                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                  <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                </a> -->
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="forgot-password.html">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="login.html">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>