<div class="container-fluid">

  <!-- Page Heading -->
  <!-- <h1 class="h3 mb-2 text-gray-800">Food Items</h1>
  <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the.</p> -->

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="h3 mb-0 text-gray-800"> OredrId : {{ orderId }}</h6>
      <h6 class="h4 mb-0 text-gray-800" *ngIf="orderItems.length > 0" > Messege Form Client: {{ orderItems[0]['orderMessage'] | foodItemThumbImage }}</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" *ngIf="orderItems.length > 0">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Quantity</th>
              <th>Propsed Time</th>
              <th>Placed On</th>
              <th>Current Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <!-- <tfoot>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Description</th>
              <th>Price</th>
              <th>Action</th>
            </tr>
          </tfoot> -->
          <tbody>
            <tr *ngFor ="let item of orderItems">
              <td>
                <img src="https://www.heraldscotland.com/resources/images/9757189.jpg" class="card-img-top" alt="No Image" style="width: 70px;height: 70px;" *ngIf="!item.foodItemThumbImage">
                <img [src]="item.foodItemThumbImage" class="card-img-top" alt="No Image" style="width: 70px;height: 70px;" *ngIf="item.foodItemThumbImage">
              </td>
              <td>{{item.itemName}}</td>
              <td >{{item.quantity}}</td>
              <td>
                {{item.propsedTime}} Mins
              </td>
              <td>
                {{item.created_on | date : 'dd MMM hh:mm a'}}
              </td>
              <td>
                  {{item.trackMessage | titlecase}}
              </td>
              <td>
                <a href="#" data-toggle="modal" data-target="#logoutModal" class="btn btn-success btn-icon-split" style="float: right;" (click)="openUpdateModal(item)">
                    <span class="icon text-white-50">
                        <i class="fa fa-cogs"></i>
                    </span>
                    <span class="text">Update</span>
                  </a>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>



  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update item prepration</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="col-lg-7" style="max-width: unset;">
          <div class="p-5">
            <!-- <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Description and Image!</h1>
            </div> -->
            <form class="user">
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <label>
                    Item
                  </label>
                  <input type="text" step="any" min="10" class="form-control form-control-user" name="orderItemId" [(ngModel)]="selectItem.itemName" placeholder="Price" disabled>
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <label>
                    Proposed Time
                  </label>
                  <input type="number" step="any" min="10" class="form-control form-control-user" name="propsedTime" [(ngModel)]="trackingData.propsedTime" placeholder="Propsed Time">
                </div>
                
              </div>
              <div class="form-group">
                <label>
                  Message
                </label> 
                <select class="form-control form-control-user" (change)="changeStatus($event.target.value)" placeholder="Unit" >
                  <option value="">Select</option>"
                  <option value="{{i}}" *ngFor="let msg of orederMesaage; let i = index">{{msg.message}}</option>
                </select>
              </div>           
              </form>
           
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal" id="modalColoseBtn"git add>Cancel</button>
          <a class="btn btn-primary" href="javascript:void(0)" (click)="updateTracking()">Update</a>
        </div>
      </div>
    </div>
  </div>