   <!-- Sidebar -->
   <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/dashboard/restaurant-dashboard">
      <div class="sidebar-brand-icon rotate-n-15">
        <!-- <i class="fas fa-laugh-wink"></i> -->
        <img src="../../../../../assets/img/loader-icon.png" style="height: 50px; width: 50px;">
      </div>
      <div class="sidebar-brand-text mx-3">Menu<sup>Me</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/restaurant-welcome-screen">
        <i class="fa fa-praying-hands"></i>
        <span>Welcome Screens</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/table-list">
        <i class="fa fa-couch"></i>
        <span>Table Lists</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/food-menu">
        <i class="fa fa-clipboard-list"></i>
        <span>Catagories</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/food-items">
        <i class="fa fa-hamburger"></i>
        <span>Food Items</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/order-list">
        <i class="fa fa-luggage-cart"></i>
        <span>Orders</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <!-- <div class="sidebar-heading">
      Interface
    </div> -->

    <!-- Nav Item - Pages Collapse Menu -->
    <!-- <li class="nav-item">
      <a class="nav-link collapsed" href="javascript:void(0)" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Components</span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Resturant Components:</h6>
          <a class="collapse-item" routerLink="/">Restaurant List</a>
          <a class="collapse-item" routerLink="/">Users</a>
        </div>
      </div>
    </li> -->

    
  

  </ul>
  <!-- End of Sidebar -->