.tooltip1 {
  //   position: relative;
  //   display: inline-block;
  //   border-bottom: 1px dotted black;
}

.tooltip1 .tooltiptext1 {
  visibility: visible;
  /* width: 120px; */
  background-color: #8c664a;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  /* top: -5px; */
  box-shadow: -2px 2px 5px #312929;
  right: 80%;
}

.tooltiptext1::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #8c664a;
  //   box-shadow: -2px 2px 5px #312929;
}

.animation {
  max-width: 40rem;
  //   height: 50px;
  //   background-color: red;
  //   font-weight: bold;
  position: relative;
  animation: mymove 2s;
}

@keyframes mymove {
  from {
    top: -200px;
  }
  to {
    top: 15px;
  }
}
