<!-- <div class="container dtHorizontalVerticalExampleWrapper">
    <h2>Order List</h2>   
    <table id="dtHorizontalVerticalExample" class="table table-striped table-bordered table-sm " cellspacing="0"
    width="100%">
       <thead>
        <tr>
          <th>Order ID</th>
          <th>Table</th>
          <th>User</th>
          <th>Total Items</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orderLists">
          <td>{{order.orderId}}</td>
          <td>{{order.tableId}}</td>
          <td>{{order.userName}}</td>
          <td>{{order.totalItems}}</td>
          <td>{{order.createdOn | date : 'dd/mm/yyyy'}}</td>
        </tr>
       
      </tbody> 
    </table>
  </div> -->


  <div class="container-fluid">

    <!-- Page Heading -->
    <!-- <h1 class="h3 mb-2 text-gray-800">Food Items</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the.</p> -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="h3 mb-0 text-gray-800">Orders
        </h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" *ngIf="orderLists.length > 0">
            <thead>
              <tr>
                <td>#</td>
                <th>Order ID</th>
                <th>Table</th>
                <th>User</th>
                <th>Total Items</th>
                <th>Time</th>
              </tr>
            </thead>
            
            <tbody>
              <tr *ngFor="let order of orderLists; let i= index" (click)="getOrderDetails(order.orderId)">
                <td>{{i +1 }}</td>
                <td>{{order.orderId}}</td>
                <td>{{order.tableId}}</td>
                <td>{{order.userName}}</td>
                <td>{{order.quantity}}</td>
                <td>{{order.created_on | date : 'dd MMM hh:mm a'}}</td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
