<div class="container-fluid">

    <!-- Page Heading -->
    <!-- <h1 class="h3 mb-2 text-gray-800">Food Items</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the.</p> -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="h3 mb-0 text-gray-800">Food Items
            <a href="#" data-toggle="modal" data-target="#logoutModal" class="btn btn-success btn-icon-split" style="float: right;">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Add</span>
            </a>
        </h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" *ngIf="foodItemList.length > 0">
            <thead>
              <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Catagory</th>
                <th>Description</th>
                <th>Price</th>
                <th>Veg / Non-Veg</th>
              </tr>
            </thead>
            <!-- <tfoot>
              <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Action</th>
              </tr>
            </tfoot> -->
            <tbody>
              <tr *ngFor ="let item of foodItemList">
                <td>
                  <img src="https://www.heraldscotland.com/resources/images/9757189.jpg" class="card-img-top" alt="No Image" style="width: 70px;height: 70px;" *ngIf="!item.thumbUrl">
                  <img [src]="item.thumbUrl" class="card-img-top" alt="No Image" style="width: 70px;height: 70px;" *ngIf="item.thumbUrl">
                </td>
                <td>{{item.name}}</td>
                <td>{{item.categoryName}}</td>
                <td style="width: 500px;">
                  {{item.description}}
                </td>
                <td>
                  RS{{item.price}} / {{item.quantity}} {{item.unit}}
                </td>
                <td>
                    {{item.veg}}
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>




  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new food item</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="col-lg-7" style="max-width: unset;">
          <div class="p-5">
            <!-- <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Description and Image!</h1>
            </div> -->
            <form class="user">
              <div class="form-group">
                <div class="overlay" *ngIf="showOverlay">
                  <img src="../../../assets/img/upload.gif" style="height: 90px;width: 90px; margin: 25px;">
                </div>
                <img [attr.src]="tempImage" style="height: 150px; width: 150px; margin-left: 100px;">
                <input name="file"  placeholder="Welcome Screen Details" type="file" (change)="uploadImage($event.target.files,'welcomeScreen')">
              </div>
              <div class="form-group">
                <label>
                  Food item name
                </label>
                <input type="text" class="form-control form-control-user" name="name" [(ngModel)]="createFoodItemData.name" placeholder="Item Name">
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <label>
                    Veg / Non-Veg
                  </label>
                  <select class="form-control form-control-user" name="veg" [(ngModel)]="createFoodItemData.veg" placeholder="Taste">
                      <option >Select</option>
                      <option value="Veg">Veg</option>
                      <option value="Non-Veg">Non Veg</option>
                  </select>
                </div>
                <div class="col-sm-6">
                  <label>
                    Food catagory
                  </label>
                  <select class="form-control form-control-user" name="foodCategoryId" [(ngModel)]="createFoodItemData.foodCategoryId" placeholder="Catagory ">
                    <option >Select</option>
                    <option value="{{catagory.hash_id}}" *ngFor ="let catagory of catagoryList">{{catagory.name}}</option>
                    <!-- <option value="2">Non Veg</option> -->
                </select>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <label>
                    Food item unit
                  </label>
                  <select class="form-control form-control-user" name="unit" [(ngModel)]="createFoodItemData.unit" placeholder="Unit">
                      <option >Select</option>
                      <option value="Plate">Plate</option>
                      <option value="Pice">Pice</option>
                      <option value="ml">Ml</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>
                    Price
                  </label>
                  <input type="number" step="any" min="10" class="form-control form-control-user" name="price" [(ngModel)]="createFoodItemData.price" placeholder="Price">
                </div>
                
              </div>
              <div class="form-group">
                <label>
                  Item quantity
                </label>
                <input type="number" step="any" min="1" class="form-control form-control-user" name="quantity" [(ngModel)]="createFoodItemData.quantity" placeholder="Quantity">
           
            </div>
              <div class="form-group">
                <label>
                  Food item details
                </label>
                <textarea class="form-control form-control-user" name="description" [(ngModel)]="createFoodItemData.description" placeholder="Food item details"></textarea>
              </div>
              
            </form>
           
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal" id="modalColoseBtn"git add>Cancel</button>
          <a class="btn btn-primary" href="javascript:void(0)" (click)="createItem()">Create</a>
        </div>
      </div>
    </div>
  </div> 