<h1>
  Home will be available soon
</h1>


  <!-- <ngx-spinner bdColor = "rgba(17,160,240,0.29)" size = "medium" color = "#fff" type = "line-scale" [fullScreen] = "true"><p style="color: white" > {{loaddingMessage}}... </p></ngx-spinner> -->