<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Table lists</h1>
    <a href="#" data-toggle="modal" data-target="#logoutModal" class="btn btn-success btn-icon-split"
      *ngIf="tableList.length != 0">
      <span class="icon text-white-50">
        <i class="fas fa-plus"></i>
      </span>
      <span class="text">Add</span>
    </a>

    <a href="javascript:void(0)" (click)="gettableLists();" class="btn btn-primary btn-icon-split"
      *ngIf="tableList.length != 0">
      <span class="icon text-white-50">
        <i class="fas fa-plus"></i>
      </span>
      <span class="text">Refresh</span>
    </a>


  </div>
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4" *ngFor="let table of tableList" style="cursor: pointer;">
      <div class="card border-left-primary shadow h-100 py-2"
      [ngClass]="{'booked-border' : table.bookingStatus ==1 , 'bill-border' : table.bookingStatus ==2, 'vacant-border' : table.bookingStatus ==0 || table.bookingStatus ==3 || !table.bookingStatus   }"
      >
        <div class="card-body">
          <div class="table_status vacant" *ngIf="!table.bookingStatus || table.bookingStatus == 0 || table.bookingStatus == 3">Vacant</div>
          <div class="table_status booked" *ngIf="table.bookingStatus == 1 ">Booked</div>
          <div class="table_status bill" *ngIf="table.bookingStatus == 2 ">Asked for Bill</div>
          <div class="row no-gutters align-items-center">
            <img src="{{table.mageUrl}}" class="card-img-top" alt="No Image Found" *ngIf="table.mageUrl"
              style="width: 200px;height: 200px;">
            <img src="https://www.heraldscotland.com/resources/images/9757189.jpg" class="card-img-top"
              alt="No Image Found" style="width: 200px;height: 200px;" *ngIf="!table.mageUrl">
            <div class="card-body">
              <p class="card-text">Table Id : {{table.tableCode}}</p>
              <p class="card-text">Seat Capacity: {{table.seatCount}}</p>
              <p class="card-text">{{table.description}}</p>
            </div>
            <div>
              <a href="javascript:void(0)" (click)="freeTable(table.userId,table.hash_id);" class="btn btn-success btn-icon-split"
                *ngIf="table.bookingStatus > 0 && table.bookingStatus < 3">
                <span class="icon text-white-50">
                  <i class="fa fa-free-code-camp"></i>
                </span>
                <span class="text">Free the table</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div *ngIf="tableList.length == 0">
         No screen added Yet
         </div> -->
    <div class="col-lg-12 mb-12" *ngIf="tableList.length == 0">
      <!-- Illustrations -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">No Table added Yet</h6>
        </div>
        <div class="card-body">
          <div class="text-center">
            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
              src="assets/img/undraw_posting_photo.svg" alt="">
          </div>
          <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow"
              href="https://undraw.co/">unDraw</a>, a constantly updated collection of beautiful svg images that you can
            use completely free and without attribution!</p>
          <a href="#" data-toggle="modal" data-target="#logoutModal">Create new &rarr;</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a table</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="col-lg-7" style="max-width: unset;">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Table Description</h1>
          </div>
          <form class="user">
            <!-- <div class="form-group">
                     <div class="overlay" *ngIf="showOverlay">
                       <img src="../../../assets/img/upload.gif" style="height: 90px;width: 90px; margin: 25px;">
                     </div>
                     <img [attr.src]="tempImage" style="height: 150px; width: 150px; margin-left: 100px;">
                     <input name="file"  placeholder="table Screen Details" type="file" (change)="uploadImage($event.target.files,'tableScreen')">
                     </div> -->
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <label>
                  Table Id
                </label>
                <input type="text" class="form-control form-control-user" name="tableCode"
                  [(ngModel)]="createtableData.tableCode" placeholder="e.g T123">
              </div>
              <div class="col-sm-6 mb-3 mb-sm-0">
                <label>
                  Total Seat
                </label>
                <input type="number" class="form-control form-control-user" name="Total Seat"
                  [(ngModel)]="createtableData.seatCount" placeholder="e.g 2">
              </div>
            </div>
            <div class="form-group">
              <label>
                Description
              </label>
              <textarea class="form-control form-control-user" name="description"
                [(ngModel)]="createtableData.description" placeholder="Table Details"></textarea>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal" id="modalColoseBtn" git add>Cancel</button>
        <a class="btn btn-primary" href="javascript:void(0)" (click)="createTable()">Create</a>
      </div>
    </div>
  </div>
</div>