.table_status {
  text-align: right;
  border-radius: 5px;
}

.vacant {
  color: #5bc98b;
}
.vacant-border {
  border-left: 0.25rem solid #5bc98b !important;
}

.booked {
  color: #ee6258;
}
.booked-border {
  border-left: 0.25rem solid #ee6258 !important;
}

.bill {
  color: #586fee;
}
.bill-border {
  border-left: 0.25rem solid #586fee !important;
}
