 <!-- Begin Page Content -->
 <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Food Catagory Lists</h1>
      <a href="#" data-toggle="modal" data-target="#logoutModal" class="btn btn-success btn-icon-split" *ngIf="catagoryList.length != 0">
          <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
          </span>
          <span class="text">Add</span>
        </a>
      <!-- <h1 class="h3 mb-0 text-gray-800">
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
              <i class="fas fa-add"></i>
              + Add
            </a>
          </h1> -->
    </div>
  
    <div class="row">
  
  
      <!-- <div class="card" style="width: 18rem;" *ngFor="let restaurant of restaurantlists" style="cursor: pointer;">
        <img src="{{restaurant.image}}" class="card-img-top" alt="No Image Found">
        <div class="card-body">
          <h5 class="card-title">{{restaurant.name}}</h5>
          <p class="card-text">{{restaurant.tagline}}</p>
        </div>
      </div> -->
      <div class="col-xl-3 col-md-6 mb-4" *ngFor="let catagory of catagoryList" style="cursor: pointer;">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-size: 1.5rem;">{{catagory.name}}</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" style="font-size: 0.9rem; font-weight: 100 !important;">{{catagory.description}}</div>
              </div>
              <div class="col-auto">
                <!-- <i class="fas fa-calendar fa-2x text-gray-300"></i> -->
                <img src="{{catagory.thumbUrl}}" class="card-img-top" alt="No Image" *ngIf="catagory.thumbUrl" style="width: 70px;height: 70px;">
              <img src="https://www.heraldscotland.com/resources/images/9757189.jpg" class="card-img-top" alt="No Image" style="width: 70px;height: 70px;" *ngIf="!catagory.thumbUrl">
              
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Earnings (Monthly) Card Example -->
      <!-- <div class="col-xl-3 col-md-6 mb-4" *ngFor="let welcome of catagoryList" style="cursor: pointer;" >
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <img src="{{welcome.image}}" class="card-img-top" alt="No Image Found" *ngIf="welcome.image" style="width: 200px;height: 200px;">
              <img src="https://www.heraldscotland.com/resources/images/9757189.jpg" class="card-img-top" alt="No Image Found" style="width: 200px;height: 200px;" *ngIf="!welcome.image">
              
        <div class="card-body">
          <p class="card-text">{{welcome.description}}</p>
        </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div *ngIf="catagoryList.length == 0">
        No screen added Yet
      </div> -->
      <div class="col-lg-12 mb-12" *ngIf="catagoryList.length == 0"> 

        <!-- Illustrations -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">No Food catagory created Yet</h6>
          </div>
          <div class="card-body">
            <div class="text-center">
              <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="assets/img/undraw_posting_photo.svg" alt="">
            </div>
            <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a constantly updated collection of beautiful svg images that you can use completely free and without attribution!</p>
            <a href="#" data-toggle="modal" data-target="#logoutModal">Create new  &rarr;</a>
          </div>
        </div>

      </div>
    </div>
  
  </div>
  <!-- /.container-fluid -->
  
  
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add a new food menu</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="col-lg-7" style="max-width: unset;">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Description and Image!</h1>
              </div>
              <form class="user">
                <!-- <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" name="name" [(ngModel)]="createCatagoryData.name" placeholder="Name">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user"  name="reg_no" [(ngModel)]="createCatagoryData.reg_no" placeholder="Registration No.">
                  </div>
                </div> -->
                
                
                <div class="form-group">
                  <div class="overlay" *ngIf="showOverlay">
                    <img src="../../../assets/img/upload.gif" style="height: 90px;width: 90px; margin: 25px;">
                  </div>
                  <img [attr.src]="tempImage" style="height: 150px; width: 150px; margin-left: 100px;">
                  <input name="file"  placeholder="Welcome Screen Details" type="file" (change)="uploadImage($event.target.files,'welcomeScreen')">
                </div>
                <div class="form-group">
                  <label>
                    Title
                </label>
                  <input type="text" class="form-control form-control-user" name="name" [(ngModel)]="createCatagoryData.name" placeholder="Title">
                </div>
                <div class="form-group">
                  <label>
                    Food menu details
                  </label>
                  <textarea class="form-control form-control-user" name="description" [(ngModel)]="createCatagoryData.description" placeholder="Menu Details"></textarea>
                </div>
                
              </form>
             
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal" id="modalColoseBtn"git add>Cancel</button>
            <a class="btn btn-primary" href="javascript:void(0)" (click)="createCatagory()">Create</a>
          </div>
        </div>
      </div>
    </div>