/* You can add global styles to this file, and also import other style files */
.overlay {
    position: absolute;
    height: 150px;
    width: 150px;
    margin-left: 100px;
    background: #ff00001f;
}
tbody tr {
    cursor: pointer;
}
tbody tr:hover {
   // background-color: yellow;
    // box-shadow: inset 2px 1px 20px 15px #dedbc4;
    box-shadow: 5px 5px 5px 5px #dedbc4;
}
textarea {
    height: 5rem;
}
