<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0"> 
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Confirm OTP</h1>
                  </div>
                  <form class="user">
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" name="OTP" [(ngModel)] ="OTP" aria-describedby="emailHelp" placeholder="Enter OTP">
                    </div>
                    
                    
                    <a href="javascript:void(0)" (click)="verify()" class="btn btn-primary btn-user btn-block">
                      Verify
                    </a>
                    <!-- <hr>
                    <a href="index.html" class="btn btn-google btn-user btn-block">
                      <i class="fab fa-google fa-fw"></i> Login with Google
                    </a>
                    <a href="index.html" class="btn btn-facebook btn-user btn-block">
                      <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                    </a> -->
                  </form>
                  <!-- <hr>
                  <div class="text-center">
                    <a class="small" href="javascript:void(0)">Forgot Password?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="javascript:void(0)" (click)="register()">Create an Account!</a>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  <ngx-spinner bdColor = "rgba(17,160,240,0.29)" size = "medium" color = "#fff" type = "line-scale" [fullScreen] = "true"><p style="color: white" > {{loaddingMessage}}... </p></ngx-spinner>
